databases:
  - name: appraisal-postgres
    databaseName: appraisal_db_dp
    user: appraisal_user
    plan: free

services:
  - type: web
    name: appraisal-backend
    env: python
    plan: free
    rootDir: appraisal_backend
    buildCommand: bash build.sh
    startCommand: gunicorn appraisal_backend.wsgi:application --bind 0.0.0.0:$PORT --workers 3 --timeout 120
    healthCheckPath: /admin/login/
    envVars:
      - key: DJANGO_DEBUG
        value: "False"
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_ALLOWED_HOSTS
        value: appraisal-backend.onrender.com
      - key: DB_ENGINE
        value: django.db.backends.postgresql
      - key: DB_NAME
        fromDatabase:
          name: appraisal-postgres
          property: database
      - key: DB_USER
        fromDatabase:
          name: appraisal-postgres
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: appraisal-postgres
          property: password
      - key: DB_HOST
        fromDatabase:
          name: appraisal-postgres
          property: host
      - key: DB_PORT
        fromDatabase:
          name: appraisal-postgres
          property: port
      - key: DJANGO_CORS_ALLOWED_ORIGINS
        sync: false
      - key: DJANGO_CSRF_TRUSTED_ORIGINS
        sync: false
      - key: FRONTEND_BASE_URL
        sync: false
      - key: DJANGO_EMAIL_BACKEND
        value: django.core.mail.backends.smtp.EmailBackend
      - key: EMAIL_HOST
        sync: false
      - key: EMAIL_PORT
        value: "587"
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: EMAIL_USE_TLS
        value: "True"
      - key: EMAIL_USE_SSL
        value: "False"
      - key: DEFAULT_FROM_EMAIL
        sync: false
      - key: PASSWORD_RESET_EMAIL_FAIL_SILENTLY
        value: "False"
      - key: DJANGO_USE_SECURE_PROXY_SSL_HEADER
        value: "True"
      - key: DJANGO_USE_X_FORWARDED_HOST
        value: "True"
      - key: DJANGO_SESSION_COOKIE_SECURE
        value: "True"
      - key: DJANGO_CSRF_COOKIE_SECURE
        value: "True"
      - key: DJANGO_SECURE_SSL_REDIRECT
        value: "True"
      - key: PDF_RENDER_ENGINE
        value: "playwright"
      - key: PDF_ALLOW_FALLBACK
        value: "False"
      - key: PLAYWRIGHT_BROWSERS_PATH
        value: /opt/render/project/src/appraisal_backend/.playwright
